*.env
*.log
*.mp3
*.wav

!storage/
storage/*

!storage/framework/

!storage/excel/
storage/excel/exports/*
!storage/excel/exports/test.txt


#storage/framework/cache/*
#storage/framework/views/*
#storage/framework/sessions/*

#public/uploads/*

vendor/phpoffice/phpexcel/Examples/templates/*

.idea
